<!DOCTYPE html>
<html>
  <head>
    <title>Update <%= animal.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="title">
        <h1 class="glowing"><a href="/">Tiny Paws</a></h1>
        <img class="icon" src="/images/dog.png" alt="" />
      </div>
      <div class="nav">
        <nav>
          <a href="/categories">Categories</a>
          <a href="/animals">Animals</a>
          <a href="/zoo">Your personal ZOO</a>
        </nav>
      </div>
    </header>

    <h1>Update: <%= animal.name %></h1>

    <form action="<%= `/animals/${animal._id}/update` %>" method="POST" class="animalForm">
      <!-- Assuming "animals" is the route for creating a new Animal -->

      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required value="<%- animal.name %>" />

      <label for="category">Category:</label>
      <select id="category" name="category" required>
        <% categories.forEach(category => { %>
         <option value="<%= category._id %>" <% if (category.name === animal.category.name) { %> selected <% } %>><%= category.name %></option>
  <% }); %>
      </select>
      <!-- You might want to provide a dropdown list or another method to select the category -->

      <label for="description">Description:</label>
      <textarea id="description" name="description" required> <%- animal.description %> </textarea>

      <label for="date_of_birth">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="date_of_birth" required value="<%- animal.date_of_birth.toISOString().split('T')[0] %>"  />

      <label for="price">Price:</label>
      <input type="number" id="price" name="price" required value=<%- animal.price %>  />

      <button type="submit" class="glowing">Update Animal</button>
    </form>
  </body>
</html>