<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="title">
        <h1 class="glowing"><a href="/">Tiny Paws</a></h1>
        <img class="icon" src="/images/dog.png" alt="" />
      </div>
      <div class="nav">
        <nav>
          <a href="/categories">Categories</a>
          <a href="/animals">Animals</a>
          <a href="/zoo">Your personal ZOO</a>
        </nav>
      </div>
    </header>
    <div class="category_details">
      <h1><%= title  %></h1>
        <p><%= category.description%> </p>
    </div>
    <div class="categoryAnimals">
        <h2>Animals in this category</h2>
          <% if (animals.length > 0) { %> <% animals.forEach(animal => { %>
      <div class="animal">
        <h3 class="glowing"><a href="<%= animal.url %>"><%= animal.name %></a></h2>
      </div>
      <% }); %> <% } else { %>
      <p>No animals in this category available at the moment. Check back later!</p>
      <% } %>

      
        <form class="wrapper" action= <%= `/categories/${category.name}/update` %> method='get' >
          <input id="passwordInput" type="text" placeholder="password">
          <button id="updateButton" disabled class="inactive glowing" onclick="goUpdate()">Update category  </button>
            <button id="deleteButton" disabled class="inactive glowing" onclick="goDelete()" formaction=<%= `/categories/${category.name}/delete` %> formmethod='post'> Delete category  </button>
        </form>
    </div>

    <script>
      const passwordInput = document.querySelector("#passwordInput");
      const updateButton = document.querySelector('#updateButton');
      const deleteButton = document.querySelector('#deleteButton')
      const link = document.querySelector('#createButton>a')

      passwordInput.addEventListener('input', prevent)

        
        function prevent(e) {
          e.preventDefault();

        [updateButton, deleteButton].forEach((button)=> {
           if (e.target.value === 'password') {
          button.classList.remove('inactive');
         if (button.hasAttribute('disabled')) button.removeAttribute('disabled')
          return
        }
        else {
          button.classList.add('inactive');
          if (!button.hasAttribute('disabled')) button.setAttribute('disabled', true)
         }
        })
       
      }

      function goUpdate() {
        window.location.href = '/categories/:name/update';
      }
       function goUpdate() {
        window.location.href = '/categories/:name/delete';
      }
    </script>

  </body>
</html>